<h2>About the A &amp; M Karate School</h2>
<div class="row">
	<br>
	<%# image_tag 'guinea_pig.jpg', :size => '500x500' %>

	<div class="span6">
		<p>	Created as a project for a course called Application Design and Development 
			on the web at CMU, this Karate website provides fictitious information 
			regarding schools and tournaments in the greater Pittsburgh area. </p> 
		<p>We do, however, have a real master who teaches students to do all sorts
		   of forms and moves — and I don't mean the 'martial arts' kind!</p>
	</div>
	
	<div class="span1"></div>
	
	<div class="span5">
		<!--picture here -->
		<%= image_tag 'guinea_pig.jpg' %>
	</div>
</div>
<br><br>
