<h2>Contact the A &amp; M Karate School</h2>
<br>

<div class="row">
	<div class="span6">
		<p>Unfortunately, the A &amp; M Karate School is not a real business, but 
			rather a course project for programming students at Carnegie Mellon University. We 
			are sure that you wanted to participate in our tournaments and even get training   
			for the best karate school on the planet, but that's how it goes sometimes.  If you are 
			bitterly disappointed (and quite honestly, you should be) and want to 
			grouse to someone, here's the contact info:</p>

		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>An Heimann</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><%= mail_to("a_heimann@yahoo.com", "An Heimann", :encode => "javascript") %>  
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>(724) 935-0670</td>
			</tr>
		</table>
		<br>
		<!-- <p class="note">*I am a professor of information systems at Carnegie Mellon 
			University and this nickname was a little running joke between myself and my 
			students that I adopted as my signature for all my programming work.  
			<br><br><em>... in truth I am only half-Klingon.</em></p> 			-->

		<p>(I am usually available unless you've caught me in one these cat fights 
			which occur from time to time in this house.)</p>
	</div>
	
	<div class="span1"></div>
	
	<div class="span5">
		<!-- picture here -->
		<%= image_tag 'cats1.jpg' %>
	</div>
</div>
<br><br>