<div class="row">
	<div class="span6">
		<%= render :partial => "active_dojos" %>
	</div>
	<% if logged_in? && (current_user.role? :admin) %>		<!-- admin only: -->
		<div class="span1"></div>
		<div class="span5">
			<%= render :partial => "inactive_dojos" %>
		</div>
	<% end %>
</div>

<% if logged_in? && (current_user.role? :admin) %>			<!-- admin only: -->
	<%= link_to raw("<i class='icon-plus icon-white'></i> New Dojo"), new_dojo_path, :class => 'btn btn-primary', :id => 'Create Dojo' %>
<% end %>
